@font-face {
  font-family: "Arial";
  src: local("Arial Regular"), local("Arial-Regular"),
    url("font/ArialMT.woff2") format("woff2"),
    url("ArialMT.woff") format("woff"),
    url("font/ArialMT.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Georgia Regular";
  src: url("font/Georgia.eot");
  src: url("font/Georgia.eot?#iefix") format("embedded-opentype"),
    url("font/Georgia.woff") format("woff"),
    url("font/Georgia.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
